<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        SetOutputFilter DEFLATE
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE text/html
        AddType x-font/otf .otf
        AddType x-font/ttf .ttf
        AddType x-font/eot .eot
        AddType x-font/woff .woff
        AddType image/x-icon .ico
        AddType image/png .png
    </IfModule>
</IfModule>

<IfModule mod_headers.c>
    Header append Vary Accept-Encoding
    <FilesMatch "\.(ico)$">
        Header set Cache-Control "max-age=29030400, public"
    </FilesMatch>
    <FilesMatch "\.(txt|css|js|jpg|jpeg|png|gif|woff)$">
        Header set Cache-Control "max-age=604800, must-revalidate"
    </FilesMatch>
    <FilesMatch "\.(html|htm|php)$">
        Header set Cache-Control "max-age=180, private, must-revalidate"
    </FilesMatch>
</IfModule>