body {
    background-color:#701584 !important;
}
.header .navbar-inner {
    background-color: #3f084b !important;
}

.header .btn-navbar {
    background-color: #3f084b !important;
}

.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle {
    background-color: #290331 !important;
}

.header .nav li.dropdown .dropdown-toggle i {
    color: #863698 !important;
}

.page-sidebar > ul > li > a {
    border-top: 1px solid #8c23a3 !important;
    color: #fff !important;
}

.page-sidebar > ul > li:first-child > a {
    border-top: 1px solid transparent !important;
}

.page-sidebar > ul > li:last-child > a {
    border-bottom: 1px solid transparent !important;
}

.page-sidebar > ul > li a i {
    color: #b348cb !important;
}

.page-sidebar > ul > li.open > a,
.page-sidebar > ul > li >a:hover,
.page-sidebar > ul > li:hover>a {
    background: #571067;
}

.page-sidebar > ul > li.active > a{
    background: #571067 !important;
    border-top-color: transparent !important;
    color:#fff !important;
}

.page-sidebar > ul > li > ul.sub-menu  {
    margin: 0px;
    padding: 4px 0px;
    background: #641775;
}

.page-sidebar > ul > li > ul.sub-menu > li > a {
    color: #fff;
    margin-left:0px;
    padding-left: 50px;
    display: block;
}

.page-sidebar > ul > li > a > .arrow:before,
.page-sidebar > ul > li > a > .arrow.open:before {
    color: #b348cb !important;
}

.page-sidebar > ul > li.active > a .arrow:before,
.page-sidebar > ul > li.active > a .arrow.open:before {
    color: #fff !important;
}

.page-sidebar > ul > li > ul.sub-menu > li:first-child > a {
    border-top: 0px !important;
}

.page-sidebar > ul > li > ul.sub-menu > li.active > a,
.page-sidebar > ul > li > ul.sub-menu > li > a:hover {
    color: #fff !important;
    background: #6f1d80 !important;
}

.page-sidebar > ul > li > ul.sub-menu > li > ul.sub-menu > li.active > a,
.page-sidebar > ul > li > ul.sub-menu > li > ul.sub-menu > li > a:hover,
.page-sidebar > ul > li > ul.sub-menu > li.open > a  {
    color: #fff !important;
    background: #6f1d80 !important;
}

.page-sidebar > ul > li > ul.sub-menu  a .arrow:before,
.page-sidebar > ul > li > ul.sub-menu  a .arrow.open:before {
    color: #b348cb !important;
}

.sidebar-toggler {
    background-image: url(../../img/sidebar-toggler-purple.jpg);
    background-color: #333;
}
.sidebar-closed .page-sidebar > ul > li:hover .sub-menu {
    background-color: #641775;
}

/***
Tablet and Mobile
***/
@media (max-width:979px) {
    .page-sidebar {
        background-color: #4c095b !important;
    }

    .page-sidebar > ul > li > a {
        border-top: 1px solid #701584 !important;
    }

    .page-sidebar > ul > li:first-child > a {
        border-top: 0 !important;
    }

    .page-sidebar > ul > li:last-child > a {
        border-bottom: 0 !important;
    }

    .page-sidebar > ul > li.open > a,
    .page-sidebar > ul > li >a:hover,
    .page-sidebar > ul > li:hover>a {
        background: #571067;
    }

    .header .nav li.dropdown .dropdown-toggle i {
        color: #b6cbd8 !important;
    }
}